{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Вход{% endblock %}
{% block page_content %}
<div class="page-header">
<h1>Вход</h1>
</div>
<div class="col-md-6">
{{ wtf.quick_form(form) }}
<p>
	Новый пользователь?
	<a href="{{ url_for('auth.register') }}">
	Нажмите для регистрации
	</a>
</p>
</div>

{% endblock %}