{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Регистрация{% endblock %}
{% block page_content %}
<div class="page-header">
<h1>Регистрация</h1>
</div>
<div class="col-md-6">
{{ wtf.quick_form(form) }}
</div>
{% endblock %}