{% extends "base.html" %}

{% block title %}Подтверждение аккаунта{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>
        Привет, {{ current_user.username }}!
    </h1>
    <h3>Вы еще не подтвердили свой аккаунт</h3>
    <p>
        Перед тем, как зайти на сайт, Вам необходимо потвердить аккаунт.
        Проверьте Ваш почтовый ящик, мы отправили Вам письмо с инструкцией.
    </p>
    <p>
        Какое такое письмо?
        <a href="{{ url_for('auth.resend_confirmation') }}">Отправить еще раз</a>
    </p>
</div>
{% endblock %}