<p>Дорогой {{ user.username }}, </p>
<p>Добро пожаловать в Flasker!</p>
<p>Для подтверждения регистрации перейдите, пожалуйста <a href="{{ url_for('auth.confirm', token=token, _external=True) }}">по этой ссылке</a>.</p>
<p>Alternatively, you can paste the following link in your browser's address bar:</p>
<p>{{ url_for('auth.confirm', token=token, _external=True) }}</p>
<p>С уважением,</p>
<p>The Flasker Team</p>
<p><small>Note: replies to this email address are not monitored.</small></p>