
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Редактирование профиля{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Редактирование</h1>
</div>
<div class="col-md-6">
    {{ wtf.quick_form(form) }}
</div>
{% endblock %}