{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Главная{% endblock %}

{% block page_content %}
<div class="page-header">
	<h1>Добро пожаловать</h1>
	<div>
	{% if current_user.can(Permission.WRITE_ARTICLES) %}
		{{ wtf.quick_form(form) }}
	{% endif %}
	</div>
	<div class="post-tabs">
    <ul class="nav nav-tabs">
        <li{% if not show_followed %} class="active"{% endif %}><a href="{{ url_for('.show_all') }}">All</a></li>
        {% if current_user.is_authenticated() %}
        <li{% if show_followed %} class="active"{% endif %}><a href="{{ url_for('.show_followed') }}">Followers</a></li>
        {% endif %}
    </ul>
    {% include '_posts.html' %}
	</div>
	<div class="pagination">
		{{ macros.pagination_widget(pagination, '.index') }}
	</div>
</div>
{% endblock %}

{% block scripts %}
	{{ super() }}
	{{ pagedown.include_pagedown() }}
{% endblock %}



