{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block title %}Пользователь {{ user.username }}{% endblock %}

{% block page_content %}
	<div class="page-header">
		
		<h1>{{ user.username }}</h1>
		<img class="img-rounded profile-thumbnail" src="{{ user.gravatar(size=256) }}">
		{% if user.name or user.location %}
			<p>
				{% if user.name %}{{ user.name }}{% endif %}
				{% if user.location %}
					из <a href="http://maps.google.com/?q={{ user.location }}">
					{{ user.location }}</a>			
				{% endif %}
			</p>
		{% endif %}
		
		{% if current_user.is_administrator() %}
			<p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
		{% endif %}
		
		{% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
		
		<p>
			Зарегистрирован {{ moment(user.member_since).format('L') }}.
		</p>
		<p>
			Был последний раз {{ moment(user.last_seen).fromNow() }}.
		</p>
		<p>
			{% if current_user.can(Permission.FOLLOW) and user != current_user %}
				{% if not current_user.is_following(user) %}
					<a href="{{ url_for('main.follow', username=user.username) }}"
					class="btn btn-primary">Подписаться</a>
				{% else %}
					<a href="{{ url_for('main.unfollow', username=user.username) }}"
					class="btn btn-default">Отписаться</a>
				{% endif %}
			{% endif %}
			<a href="{{ url_for('main.followers', username=user.username) }}">
				Подписчики <span class="badge">{{ user.followers.count() }}</span>
			</a>
			<a href="{{ url_for('main.followed_by', username=user.username) }}">
				Подписан: <span class="badge">{{ user.followed.count() }}</span>
			</a>
			{% if current_user.is_authenticated() and user != current_user and
			user.is_following(current_user) %}
			| <span class="label label-default">Подписан на Вас</span>
			{% endif %}
		</p>
		<p>			
            {% if user == current_user %}
				<a class="btn btn-default" href="{{ url_for('.edit_profile') }}">Редактировать профиль</a>
            {% endif %}
            {% if current_user.is_administrator() %}
				<a class="btn btn-danger"
				href="{{ url_for('.edit_profile_admin', id=user.id) }}">
				Редактировать профиль [Admin]
				</a>
			{% endif %}            
		</p>
		<h3>Мысли {{ user.username }}</h3>
		{% include '_posts.html' %}
		{% if pagination %}
		<div class="pagination">
		    {{ macros.pagination_widget(pagination, '.user', username=user.username) }}
		</div>
		{% endif %}
	</div>
{% endblock %}